# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Entornos virtuales
venv/
ENV/
.env

# Archivos de migración
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración locales
local_settings.py 